@{
  Layout = "_Layout";
}

@using PierresBakery.Models

<h3><em>Treats in store today:</em></h3>

@if(@Model.Count == 0)
{
  <h3><em>--check back in a few, we're still baking!--</em></h3>
}
else
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
}
<hr>
<p>
@Html.ActionLink("Add new treat", "Create")<br>
@Html.ActionLink("Home", "Index", "Home")
</p>