@{
  Layout = "_Layout";
}

<h3>Register --or-- Login</h3>
<hr>
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" value="Log out" />
  }
}
else
{
  <p>
  @Html.ActionLink("Register", "Register")<br>
  @Html.ActionLink("Log in", "Login")
  </p>
}
<hr>
<p>@Html.ActionLink("Home", "Index", "Home")</p>